<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>summonType</key>
		<string>sdk</string>
		<key>name</key>
		<string>农银快e付</string>
		<key>abbreviation</key>
		<string>ABC</string>
		<key>detailName</key>
		<string>推荐农行掌银用户使用</string>
		<key>code</key>
		<string>01030000</string>
		<key>url</key>
		<string>bankabc://</string>
		<key>sdkClassName</key>
		<string>ABCAppCaller</string>
		<key>sdkSingleton</key>
		<string>sharedAppCaller</string>
		<key>sdkMethod</key>
		<string>callBankABC:param:</string>
	</dict>
	<dict>
		<key>summonType</key>
		<string>sdk</string>
		<key>name</key>
		<string>建行龙支付</string>
		<key>abbreviation</key>
		<string>CCB</string>
		<key>detailName</key>
		<string>推荐建行手机银行用户使用</string>
		<key>code</key>
		<string>01050000</string>
		<key>url</key>
		<string>mbspay://</string>
		<key>sdkClassName</key>
		<string>CCBNetPay</string>
		<key>sdkSingleton</key>
		<string>defaultService</string>
		<key>sdkMethod</key>
		<string>payOrder:callback:</string>
		<key>sdkUrlHandler</key>
		<string>processOrderWithPaymentResult:standbyCallback:</string>
	</dict>
	<dict>
		<key>summonType</key>
		<string>sdk</string>
		<key>name</key>
		<string>工银e支付</string>
		<key>abbreviation</key>
		<string>ICBC</string>
		<key>detailName</key>
		<string>推荐工行手机银行用户使用</string>
		<key>code</key>
		<string>01020000</string>
		<key>url</key>
		<string>com.icbc.iphoneclient://</string>
		<key>sdkClassName</key>
		<string>ICBCPaySDK</string>
		<key>sdkSingleton</key>
		<string>sharedSdk</string>
		<key>sdkMethod</key>
		<string>presentICBCPaySDKInViewController:andTraderInfo:</string>
		<key>sdkUrlHandler</key>
		<string>ICBCResultBackWithUrl:</string>
	</dict>
	<dict>
		<key>summonType</key>
		<string>scheme</string>
		<key>name</key>
		<string>招商银行</string>
		<key>abbreviation</key>
		<string>CMB</string>
		<key>detailName</key>
		<string>推荐招行掌上生活用户使用</string>
		<key>code</key>
		<string>03080000</string>
		<key>url</key>
		<string>cmbmobilebank://</string>
		<key>sdkClassName</key>
		<string></string>
		<key>sdkSingleton</key>
		<string></string>
		<key>sdkMethod</key>
		<string></string>
	</dict>
	<dict>
		<key>summonType</key>
		<string>scheme</string>
		<key>name</key>
		<string>中国银行</string>
		<key>bankName</key>
		<string>中国银行</string>
		<key>abbreviation</key>
		<string>BOC</string>
		<key>detailName</key>
		<string>推荐中行手机银行用户使用</string>
		<key>code</key>
		<string>01040000</string>
		<key>url</key>
		<string>bocpay://</string>
		<key>sdkClassName</key>
		<string></string>
		<key>sdkSingleton</key>
		<string></string>
		<key>sdkMethod</key>
		<string></string>
	</dict>
</array>
</plist>
